{% extends "base.html" %} {% block title %}Hapus Profil{% endblock %} {% block
content %}

<style>
  .side-bar {
    display: none;
  }

  .account-side {
    padding: 2.5rem 0;
    position: fixed;
    width: 16.65%;
  }

  .account-side .informasi {
    font-weight: 600;
  }

  .hapusProfil {
    background-color: rgb(157, 249, 157, 20%);
    font-weight: 600;
  }

  .hapusProfil .menu {
    color: #4ea24e;
  }

  /* .card {
    border-top-width: 3px;
    border-right-width: 3px;
  } */

  .card-header {
    font-weight: 600;
    font-size: large;
    background-color: white;
  }

  .card-body {
    font-size: 1rem;
  }

  .tost {
    height: 100%;
  }

  .form-check-label {
    font-size: small;
  }

  .form-check-input {
    cursor: pointer;
  }

  .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: none;
  }

  .form-check-input:checked {
    background-color: #4ea24e;
    border-color: #4ea24e;
    box-shadow: none;
  }
</style>

<div class="container-fluid flex-column justify-content-between p-5 tost">
  <div class="d-flex flex-row align-items-center">
    <img src="/static/profile.jpg" alt="" width="100" height="100" class="rounded-circle" />
    <h3 class="ps-3">{{user.nama}}</h3>
  </div>

  <div class="card p-4 mt-5">
    <div class="card-header pb-4">Hapus Profil</div>
    <div class="card-body">
      <p>
        Sebelum menghapus profil Anda, ada beberapa hal yang perlu diperhatikan
        :
      </p>
      <ol>
        <li>
          Anda tidak perlu menghapus akun Anda untuk mengubah nama pengguna.
          Anda dapat mengubahnya di halaman
          <a class="link-success text-decoration-none" href="{{ url_for('auth.editProfil') }}">Edit Profil</a>.
        </li>
        <li>
          Penghapusan tidak dapat dibatalkan, dan tidak akan ada cara untuk
          mendapatkan kembali akun Anda apabila Anda telah menghapus akun.
        </li>
        <li>
          Pertanyaan dan jawaban Anda akan tetap ada, namun akan dianonimkan
          menjadi user *****
        </li>
      </ol>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label text-muted" for="flexCheckDefault">
          Saya sudah membaca dan memahami informasi yang telah diberikan. Saya
          ingin melanjutkan penghapusan profil saya.
        </label>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <form action="{{ url_for('views.hapusProfil') }}" method="POST">
      <button type="submit" class="btn btn-primary" id="hapus-profil-btn" disabled>Hapus Profil</button>
    </form>
  </div>
  <script>
    document.getElementById("flexCheckDefault").addEventListener("change", function () {
      document.getElementById("hapus-profil-btn").disabled = !this.checked;
    });
  </script>

  {% endblock %}