{% extends "base.html" %} {% block title %}Notification{% endblock %} {% block
content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}" />
{%if notifications.count() == 0%}
<div class="container-fluid error d-flex flex-column align-items-center justify-content-center p-5"
    style="height: 100%">
    <img class="img-fluid pb-3" style="width: 20%" src="/static/Notifikasi-02-02.png" alt="" />
    <h5 class="fw-bold text-muted">Anda belum memiliki notifikasi</h5>
    <p class="text-muted pb-5 text-sm">
        Informasi segera akan diberitahukan
    </p>
</div>
{%else%}
<div class="container-fluid notification">
    <div class="title d-flex justify-content-between">
        <h5>Notifikasi</h3>
            <span class="num-notif" id="notifications"></span>
            <a id="mark_all" href="" class="text-decoration-none">Tandai Semua Sudah Dibaca</a>
    </div>
    <div class="row pt-2 d-flex flex-column">
        {%for notification in notifications%}
        <div class="col border-top border-bottom notif-box {{get_class(notification.dibaca,'notif')}}"
            id="{{notification.id}}">
            <div class="profil d-flex align-items-center">
                <img src="{{url_for('static',filename='profile.jpg')}}" alt="" width="50" height="50"
                    class="d-block ui-w-40 rounded-circle">
                <div class="media-body ps-2">
                    <div class="text-muted">{{get_date(notification.date)}}</div>
                    <a href="{{ url_for('views.detailPertanyaan',id = notification.id_pertanyaan) }}"
                        class="text-decoration-none text-dark">{{get_judul_from_id(notification.id_pertanyaan)}}</a>
                </div>
            </div>
            {%if notification.tipe == 'like'%}
            <span class="not-text">{{get_user_from_id(notification.id_petani).nama}}
                menyukai
                jawaban anda</span>
            {%else%}
            <span class="not-text">{{get_user_from_id(get_answer_from_id(notification.id_jawaban).id_petani).nama}}
                menjawab
                pertanyaan yang Anda ajukan.</span>
            {%endif%}
        </div>
        {%endfor%}
    </div>
</div>
{%endif%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/notification.js') }}"></script>
{% endblock %}