{% extends "base.html" %} {% block title %}Pertanyaanku{% endblock %} {% block
content %}

<style>
  .account-side {
    display: none;
  }

  .pertanyaanku {
    background-color: rgb(157, 249, 157, 20%);
  }

  .pertanyaanku .menu {
    color: #4ea24e;
    font-weight: 600;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-light {
    border-color: #868881;
    color: #868881;
    margin: 0 5px;
  }

  .btn-light:hover {
    border-color: #4ea24e;
  }

  /* .btn-light:active {
    border-color: #868881;
    color: #868881;
    margin: 0 5px;
    font-size: 1vw;
  } */

  .notif .row {
    --bs-gutter-x: 0rem;
  }

  .notif .col {
    padding: 20px 30px;
    width: 100%;
  }

  .notif .answer {
    width: 12%;
  }

  .notif .text {
    width: 80%;
  }

  .notif .text a {
    color: #4ea24e;
    font-size: larger;
    font-weight: 600;
  }

  .notif img {
    max-width: 80%;
  }

  .notif .text p {
    font-size: small;
    max-height: 100px;
    overflow-y: hidden;
  }

  .notif .text .selengkapnya {
    text-decoration: none;
  }

  .notif .text .selengkapnya:hover {
    text-decoration: underline;
  }

  .notif .footer .text-muted {
    font-size: small;
  }

  .notif .btn-light {
    font-size: small;
  }

  .dropdown-item:active,
  .dropdown-item:hover {
    background-color: rgb(157, 249, 157, 20%);
  }
</style>
{%if my_posts.count() == 0%}
<div class="container-fluid error d-flex flex-column align-items-center p-5">
  <img
    class="img-fluid pb-3"
    style="width: 20%"
    src="/static/Pertanyaan_Petani.jpg"
    alt=""
  />
  <h5 class="fw-bold text-muted">Anda belum memiliki pertanyaan</h5>
  <p class="text-muted pb-5 text-sm">
    Ayo buat
    <a
      href="{{ url_for('formHandle.buatPertanyaan') }}"
      style="text-decoration: none; color: #4ea24e"
      >pertanyaan</a
    >
    pertama Anda
  </p>
</div>
{%else%}
<div class="container-fluid flex-column justify-content-between p-5 pb-0">
  <div class="title align-items-center">
    <h5>Semua Pertanyaan</h5>
    <a href="{{ url_for('formHandle.buatPertanyaan') }}">
      <button type="button" class="btn btn-primary">Buat Pertanyaan</button>
    </a>
  </div>

  <div class="dropdown text-end pt-4 pb-4">
    <button
      class="btn btn-light dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Sort
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item text-muted" href="#">Terbaru</a></li>
      <li><a class="dropdown-item text-muted" href="#">Terlama</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid notif p-0">
  <div class="row pt-2 d-flex flex-column">
    {%for my_post in my_posts%}
    <div class="col border-top border-bottom unread d-flex flex-row">
      <div class="text-muted answer">
        <p>{{get_answer_count(my_post)}} jawaban</p>
      </div>
      <div class="text">
        <a
          href="{{ url_for('views.detailPertanyaan',id=my_post.id) }}"
          class="text-decoration-none"
          >{{my_post.judul}}</a
        >
        <p>
          {{my_post.detail|safe}}
          <span>
            <a
              href="{{ url_for('views.detailPertanyaan',id=my_post.id) }}"
              class="selengkapnya p-0"
              style="font-size: smaller; font-weight: 200"
              >... Selengkapnya</a
            >
          </span>
        </p>
        <div class="d-flex flex-row justify-content-between footer">
          <div class="key-word">
            <button type="button" class="btn btn-light btn-sm">Menanam</button>
            <button type="button" class="btn btn-light btn-sm">Mangga</button>
          </div>
          <span class="text-muted">{{get_date(my_post.date)}}</span>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endif%} {% endblock %}
